# Label Studio
LABEL_STUDIO_TOKEN=your_token_here
LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_PROJECT_ID=1

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Backend
# U produkciji: zamijeniti s pravim domenom ili IP-om servera
# Više origina odvojiti zarezom: https://example.com,http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
