[Unit]
Description=ClimaTag FastAPI backend
After=network.target

[Service]
Type=simple
User=<your_username>
WorkingDirectory=/home/<your_username>/climatag-nlp-platform
ExecStart=/home/<your_username>/miniconda3/envs/climatag-env/bin/uvicorn backend.app.main:app --host 0.0.0.0 --port 8000
Restart=on-failure

[Install]
WantedBy=multi-user.target
